<%= render "shared/header" %>
<div class='contents'>
  <div class='nav-contents'>
    <%= render "shared/nav" %>
  </div>
  <div class='main-contents'>
    <%# 質問詳細 %>
    <div class='main-content'>
      <h2 class='main-title'>
        質問詳細
      </h2>
      <ul class='question-lists'>
        <li class='question-list'>
          <div class='question-content'>
            <div class='question-title'>
              <%= @question.question_title %>
            </div>
            <div class='question-detail'>
              <%= @question.question_detail%>
            </div>
            <div class='question-qual'>
              <% qual = @quals.find { |status| status.id == @question.qual_id } %>
                    <span><%= qual.name %></span>
            </div>
          </div>
        </li>
      </ul>
      <%# /質問詳細 %>
      <div class='show-answer-contents'>
        <% if user_signed_in? %>
          <div class='answer-upper-contents'>
            <% if current_user.id == @user.id %>
              <div class='show-btn-contents'>
                <div class='show-btn-content'>
                  <%= link_to "質問の編集", "#", method: :get, class: "show-button-text" %>
                </div>
                <div class='show-btn-content'>
                  <%= link_to "質問の削除", "#", data: { turbo_method: :delete }, class:"show-button-text" %>
                </div>
              </div>
            <% else %>
              <div class="answer-post-contents">
              <script src="script.js"></script>
                <button id="answer-btn">回答する</button>
                <div id="answer-form-contents" class="answer-form-contents">
                  <form class="answer-form">
                    <textarea id="answer-area" name="answer-area" rows="4" required></textarea>
                    <button type="submit", class="answer-post-btn">回答を送信する</button>
                  </form>
                </div>
              </div>
            <% end %>
          </div>
          <%# 回答一覧 %>
          <div class='show-bottom-contents'>
            <div>
              <h2 class='answer-index-title'>回答一覧</h2>
              <%# 回答が表示される %>
            </div>
          </div>
          <%# /回答一覧 %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>