<%= render "shared/header"%>


<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

<div class='form'>
  <div class='form-title'>
    <h1 class='form-title-text'>
      ユーザー情報入力
    </h1>
  </div>

  <%# render 'shared/error_messages', model: f.object %>

  <div class="form-contents">
    <div class='form-content'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) ヤマダ太郎", maxlength:"40" %>
  </div>
  <div class="form-contents">
    <div class='form-content'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-contents">
    <div class='form-content'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>
  <div class="form-contents">
    <div class='form-content'>
      <label class="form-text">パスワード(確認用)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>
  <div class="form-contents">
    <div class='form-content'>
      <label class="form-text">お名前(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :name, class:"input-name", id:"user-name", placeholder:"例) 山田太郎" %>
  </div>
  <div class="form-contents">
    <div class='form-content'>
      <label class="form-text">お名前カナ(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :name_kana, class:"input-name", id:"user-name-kana", placeholder:"例) ヤマダタロウ" %>
  </div>
  <div class='register-btn-content'>
    <%= f.submit "新規登録" ,class:"register-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/footer"%>
